<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/styles/global.css">
    <link rel="stylesheet" href="/styles/header.css">
    <link rel="stylesheet" href="/styles/main.css">
    <link rel="stylesheet" href="/styles/footer.css">
    <title>Search - Github</title>
  </head>
  <body>
    <div class="all">

      {% include "header.njk" %}

      {% include "main.njk" %}

      {% include "footer.njk" %}

    </div>

    <script src="/script.js"></script>
  </body>
</html>