<main>
  <div class="container-middle">

    <div class="left">
      <div class="repositories">
        <div class="cards">
          <div class="card">
            <a href="#">Repositories</a>
            <h1>963K</h1>
          </div>

          <div class="card">
            <a href="#">Code</a>
            <h1>963K</h1>
          </div>

          <div class="card">
            <a href="#">Commits</a>
            <h1>963K</h1>
          </div>

          <div class="card">
            <a href="#">Issues</a>
            <h1>963K</h1>
          </div>

          <div class="card">
            <a href="#">Discussions</a>
            <h1>963K</h1>
          </div>

          <div class="card">
            <a href="#">Packages</a>
            <h1>963K</h1>
          </div>

          <div class="card">
            <a href="#">Marketplace</a>
            <h1>963K</h1>
          </div>

          <div class="card">
            <a href="#">Topics</a>
            <h1>963K</h1>
          </div>

          <div class="card">
            <a href="#">Wikis</a>
            <h1>963K</h1>
          </div>

          <div class="card">
            <a href="#">Users</a>
            <h1>963K</h1>
          </div>
        </div>
      </div>
      <div class="languages">
        <div class="cards">
          <h1>Languages</h1>
          <div class="card">
            <a href="#">JavaScript</a>
            <h1>963K</h1>
          </div>

          <div class="card">
            <a href="#">HTML</a>
            <h1>963K</h1>
          </div>

          <div class="card">
            <a href="#">TypeScript</a>
            <h1>963K</h1>
          </div>

          <div class="card">
            <a href="#">CSS</a>
            <h1>963K</h1>
          </div>

          <div class="card">
            <a href="#">C++</a>
            <h1>963K</h1>
          </div>

          <div class="card">
            <a href="#">Shell</a>
            <h1>963K</h1>
          </div>

          <div class="card">
            <a href="#">Python</a>
            <h1>963K</h1>
          </div>

          <div class="card">
            <a href="#">Java</a>
            <h1>963K</h1>
          </div>

          <div class="card">
            <a href="#">Dockerfile</a>
            <h1>963K</h1>
          </div>

          <div class="card">
            <a href="#">CoffeeScript</a>
            <h1>963K</h1>
          </div>
        </div>
      </div>
    </div>

    <div class="right">
      <div class="results">
        <h1>963,346 repository results</h1>
        <button>Sort: Best match</button>
      </div>
      <div class="card-grid">
        <img src="/assets/repository.svg" alt="repositorio">
        <div class="card">
          <div class="header-card">
            <h1>ArlanBiati/<span>fiedlControl</span></h1>
          </div>

          <p>Teste Frontend Challenger</p>

          <div class="card-bottom">
            <div class="stars">
              <img src="/assets/estrela.svg" alt="estrela">
              <h1>8</h1>
            </div>

            <div class="language">
              <div></div>
              <h1>JavaScript</h1>
            </div>

            <div class="update">
              <h1>Updated on</h1>
              <h1>26 Out 2020</h1>
            </div>
          </div>

        </div>
      </div>
    </div>

  </div>
</main>